extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.text-center Guía Práctica de Fonética
            //- span.font-normal Fónetica
        
        h2.text-center.text.text-2xl= pagina
    div.text-center
        a(href="https://lef.colmex.mx/" class="rounded py-2 px-5 bg-sky-600 hover:bg-sky-700 text-sm font-bold text-center text-white uppercase mt-5 inline-block  sm:w-auto") LEF

    div.py-10
        p.text-justify La Fonética es la disciplina que estudia los sonidos del lenguaje. Está en estrecha relación y diálogo con la Fonología, encargada del funcionamiento y del estudio de los sistemas fónicos. Se interesa por conocer la forma en la que se producen los sonidos; proporciona las herramientas para conocer la orquestación de las distintas regiones del aparato fonador encargadas de producir el sonido; le corresponde el estudio de la estructura acústica de los sonidos, permite extraer del habla las pistas pertinentes de las oposiciones fonológicas; adicionalmente, es la encargada de investigar la percepción del habla.

        p.text-justify.mt-5 La presente Guía parte de la idea de que los sonidos de las lenguas forman palabras, por ello, los materiales sonoros utilizados no son secuencias de sonidos sin significado, sino palabras existentes en las lenguas. Este sustento intenta proporcionar herramientas más realistas para formar estudiosos del lenguaje, que sean capaces de emprender el estudio de cualquier lengua.

        p.text-justify.mt-5 La presente Guía comprende el estudio articulatorio y acústico del sonido. Los materiales sonoros se agrupan en tres secciones:

        p.text-justify.mt-5 - AFI contiene los símbolos de los diferentes sonidos del Alfabeto Fonético Internacional, el sonido se puede escuchar pulsando el símbolo en cuestión.

        p.text-justify.mt-5 - Fonética articulatoria. Esta sección corresponde a la descripción articulatoria de Consonantes y Vocales; se acompaña de animaciones y de ejercicios, destinados a reconocer las características articulatorias de los sonidos, el símbolo correspondiente y a ejercitarse en la transcripción.

        p.text-justify.mt-5 - Acústica. En esta sección se muestran las estructuras acústicas de las distintas clases de sonidos.

        p.text-justify.mt-5 Esta Guía no habría sido posible sin la participación de varias personas. En primer lugar, el ingeniero Antonio Vargas quien se encargó de diseñar los materiales y de elaborar la programación, agradezco a Armando Doroteo, becario del Sistema Nacional de Investigadores, por la participación que tuvo en la preparación de los contenidos y de los ejercicios, a los estudiantes de la Escuela Nacional de Antropología e Historia que amablemente aceptaron poner a prueba la Guía y evaluar su utilidad. Señalo también la generosidad de mis colegas quienes me facilitaron materiales de lenguas específicas y aceptaron proporcionarme datos de sus lenguas maternas, por último, mi más profundo agradecimiento a todos los hablantes de las lenguas, tanto indomexicanas como de otras latitudes, que me han facilitado los datos de sus lenguas.

