ul(class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4")
    li
        a(class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg dark:bg-gray-800 dark:text-blue-500" )(link(rel="stylesheet", href="../fonetica-articulatoria/consonantes-pulmonares", attr)) Consonantes pulmonares
    li
        a(class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg dark:bg-gray-800 dark:text-blue-500" )(link(rel="stylesheet", href="../fonetica-articulatoria/consonantes-no-pulmonares", attr)) Consonantes no pulmonares