header.bg-sky-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Guía Práctica de Fonética
            //- span.font-normal Fonética
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            //- a(href="") Mis Propiedades
            a(href="/home") Inicio
            a(href="/afi/consonantes-pulmonares") AFI
            a(href="/fonetica-articulatoria/consonantes-pulmonares") Fonética Articulatoria
            a(href="/acustica") Acústica
            a(href="/obras") Obras
            a(class="bg-sky-800 py-2 px-10 rounded-lg" href="") Cerrar sesión

