extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10 Fonética Articulatoria.
            //- span.font-normal Fónetica
        h2.text-center.text.text-2xl= pagina
        include ../fonetica-articulatoria/blocks/menu-fonetica.pug
